body {
	font-family: Verdana;
    text-align:center;
	position:relative; 
}

a {
    color: #cc9900;
}

h1 {
    color: #422359;
	text-decoration: none;
}

#header{
	margin-top: 20%;
}

#contact-icons{
	position: absolute;
	top:130px;
	left:50%;
}

#ci-child{
	position:relative;
	left:-50%;
}

#footer-icons{
	margin-top: 0px;
}
